.navbar-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: lightcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container-categorias {
    display: flex;
    justify-items: center;
    gap: 1em;
}

.categoria {
    list-style: none;
}