* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-quantity {
    display: flex;
    margin: 15px;
    justify-content: space-around;
    gap: 20px;
}

.container-quantity-buttons {
    display: flex;
    border: solid 1px gainsboro;
    border-radius: 7px;
    width: 50%;
    max-width: 240px;
    justify-content: space-between;
    align-items: center;
}

.handle-decrease {
    padding: 10px 10px;
    background-color: white;
    color: #3498db;
    font-size: 2rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.handle-increase {
    padding: 10px 10px;
    background-color: white;
    color: #3498db;
    font-size: 2rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.add-button {
    width: 50%;
    max-width: 240px;
    background-color: white;
    border: 1.3px solid #237cb8;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 350;
    color: #3498db;
}